<h2><%= @list.name %> details</h2>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <br>
    <li><strong>Title:</strong><%= bookmark.movie.title %></li>
    <li><strong>Overview:</strong><%= bookmark.movie.overview %></li>
    <li><strong>Poster:</strong><%= bookmark.movie.poster_url %></li>
    <li><strong>Rating:</strong><%= bookmark.movie.rating %></li>
    <li><strong>Comment:</strong><%= bookmark.comment %></li>
    <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <br>
  <% end %>
</ul>

<%= link_to "Back to lists", lists_path %>
<%= link_to "Add Bookmark", new_list_bookmark_path(@list) %>
